.App {
  text-align: center;
}

header {
  margin-top: 30px;
}

.logo {
  width: 45px;
  margin-right: 10px;
  display: inline;
}

.title {
  display: inline;
  color: darkslategrey;
  position: relative;
  top: 8px;
}

.card {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
}
